<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>McDonalds.BurgerNormal</string>
		<key>item</key>
		<string>ハンバーガー</string>
		<key>pricePeso</key>
		<string>36</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.HamburgerB</string>
		<key>item</key>
		<string>チーズバーガー</string>
		<key>pricePeso</key>
		<string>41</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.BurgerD</string>
		<key>item</key>
		<string>チキンスリスプ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonaldsFish</string>
		<key>item</key>
		<string>フィレオフィッシュ</string>
		<key>pricePeso</key>
		<string>104</string>
		<key>priceYen</key>
		<string>320</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.BurgerD</string>
		<key>item</key>
		<string>チキンフィレオ</string>
		<key>pricePeso</key>
		<string>105</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.HamburgerB</string>
		<key>item</key>
		<string>ビッグマック</string>
		<key>pricePeso</key>
		<string>134</string>
		<key>priceYen</key>
		<string>380</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.Hamburger</string>
		<key>item</key>
		<string>クォーターパウンダーチーズ</string>
		<key>pricePeso</key>
		<string>140</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.HamburgerB</string>
		<key>item</key>
		<string>えびフィレオ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>380</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.PotetoS</string>
		<key>item</key>
		<string>マックフライポテト S</string>
		<key>pricePeso</key>
		<string>33</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.Poteto</string>
		<key>item</key>
		<string>マックフライポテト M</string>
		<key>pricePeso</key>
		<string>55</string>
		<key>priceYen</key>
		<string>270</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.FriedPoteto</string>
		<key>item</key>
		<string>マックフライポテト L</string>
		<key>pricePeso</key>
		<string>67</string>
		<key>priceYen</key>
		<string>320</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.Nagetto</string>
		<key>item</key>
		<string>チキンナゲット 5ピース</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>シャカチキ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.Corn</string>
		<key>item</key>
		<string>スイートコーン</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>220</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonaldsSoft</string>
		<key>item</key>
		<string>ソフトツイスト</string>
		<key>pricePeso</key>
		<string>13</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds-1</string>
		<key>item</key>
		<string>サンデー</string>
		<key>pricePeso</key>
		<string>29</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonaldstetototo</string>
		<key>item</key>
		<string>アップルパイ</string>
		<key>pricePeso</key>
		<string>29</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Etc-4</string>
		<key>item</key>
		<string>プチパンケーキ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnySalada</string>
		<key>item</key>
		<string>サイドサラダ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>280</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyDrinkS</string>
		<key>item</key>
		<string>ドリンク S</string>
		<key>pricePeso</key>
		<string>36</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyDrinkM</string>
		<key>item</key>
		<string>ドリンク M</string>
		<key>pricePeso</key>
		<string>44</string>
		<key>priceYen</key>
		<string>220</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyDrinkL</string>
		<key>item</key>
		<string>ドリンク L</string>
		<key>pricePeso</key>
		<string>53</string>
		<key>priceYen</key>
		<string>270</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyIceCoffeeS</string>
		<key>item</key>
		<string>アイスコーヒー S</string>
		<key>pricePeso</key>
		<string>39</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyIceCoffeeS</string>
		<key>item</key>
		<string>アイスコーヒー M</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds-2</string>
		<key>item</key>
		<string>アイスコーヒー L</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>210</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyHotCoffee</string>
		<key>item</key>
		<string>ホットコーヒー S</string>
		<key>pricePeso</key>
		<string>31</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyHotCoffee</string>
		<key>item</key>
		<string>ホットコーヒー M</string>
		<key>pricePeso</key>
		<string>41</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>フィレオフィッシュセット</string>
		<key>pricePeso</key>
		<string>154</string>
		<key>priceYen</key>
		<string>620</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>チキンフィレオセット</string>
		<key>pricePeso</key>
		<string>154</string>
		<key>priceYen</key>
		<string>650</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>ビックマックセット</string>
		<key>pricePeso</key>
		<string>183</string>
		<key>priceYen</key>
		<string>680</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>クォータパウンダーチーズセット M</string>
		<key>pricePeso</key>
		<string>190</string>
		<key>priceYen</key>
		<string>680</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>テリヤキバーガーセット</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>620</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>ハッピーセット チーズバーガー</string>
		<key>pricePeso</key>
		<string>100</string>
		<key>priceYen</key>
		<string>490</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>ハッピーセット チキンマックナゲット 4:5</string>
		<key>pricePeso</key>
		<string>105</string>
		<key>priceYen</key>
		<string>500</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>McDonalds.set</string>
		<key>item</key>
		<string>ハッピーセット ハンバーガー</string>
		<key>pricePeso</key>
		<string>90</string>
		<key>priceYen</key>
		<string>460</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyRice</string>
		<key>item</key>
		<string>ライス</string>
		<key>pricePeso</key>
		<string>**</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage</string>
		<key>item</key>
		<string>スマイル</string>
		<key>pricePeso</key>
		<string>0</string>
		<key>priceYen</key>
		<string>0</string>
	</dict>
</array>
</plist>
