<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼　並</string>
		<key>pricePeso</key>
		<string>139</string>
		<key>priceYen</key>
		<string>380</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼　大盛</string>
		<key>pricePeso</key>
		<string>175</string>
		<key>priceYen</key>
		<string>550</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚丼 並盛</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>330</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnySalada</string>
		<key>item</key>
		<string>サラダ</string>
		<key>pricePeso</key>
		<string>70</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameCurry</string>
		<key>item</key>
		<string>お子様 ミニカレーセット</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyMiso</string>
		<key>item</key>
		<string>みそ汁</string>
		<key>pricePeso</key>
		<string>25</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyMiso</string>
		<key>item</key>
		<string>とん汁</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>190</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodEgg</string>
		<key>item</key>
		<string>玉子</string>
		<key>pricePeso</key>
		<string>34</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyEgg</string>
		<key>item</key>
		<string>ねぎ玉子</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>AnyRice</string>
		<key>item</key>
		<string>ご飯</string>
		<key>pricePeso</key>
		<string>30</string>
		<key>priceYen</key>
		<string>140</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string> 牛小鉢</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>170</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyoza</string>
		<key>item</key>
		<string>餃子</string>
		<key>pricePeso</key>
		<string>59</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaShumai</string>
		<key>item</key>
		<string>カニシューマイ</string>
		<key>pricePeso</key>
		<string>59</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaUnagi</string>
		<key>item</key>
		<string>鰻重 一枚盛 </string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>750</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaRamen</string>
		<key>item</key>
		<string>ビーフらーめん</string>
		<key>pricePeso</key>
		<string>115</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
</array>
</plist>
