<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Cookware-4</string>
		<key>item</key>
		<string>ティファール フライパン 27cm</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>2278</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-4</string>
		<key>item</key>
		<string>卵焼き機</string>
		<key>pricePeso</key>
		<string>200</string>
		<key>priceYen</key>
		<string>1390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-1</string>
		<key>item</key>
		<string>ナイフ （市場）</string>
		<key>pricePeso</key>
		<string>50</string>
		<key>priceYen</key>
		<string>860</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-2</string>
		<key>item</key>
		<string>まな板（市場）</string>
		<key>pricePeso</key>
		<string>50</string>
		<key>priceYen</key>
		<string>980</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>CookwareTop</string>
		<key>item</key>
		<string>箸</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-7</string>
		<key>item</key>
		<string>水筒 300ml</string>
		<key>pricePeso</key>
		<string>200</string>
		<key>priceYen</key>
		<string>1480</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-3</string>
		<key>item</key>
		<string>マグカップ</string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>568</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-5</string>
		<key>item</key>
		<string>スポンジ</string>
		<key>pricePeso</key>
		<string>5</string>
		<key>priceYen</key>
		<string>136</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-6</string>
		<key>item</key>
		<string>ミトン （市場）</string>
		<key>pricePeso</key>
		<string>20</string>
		<key>priceYen</key>
		<string>640</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware</string>
		<key>item</key>
		<string>エプロン（市場）</string>
		<key>pricePeso</key>
		<string>20</string>
		<key>priceYen</key>
		<string>699</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>アルミホイル 25cm*8m ：~~~~</string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>92</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>サランラップ 家庭用 30cm*50m ：</string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>354</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>テーブルランナー</string>
		<key>pricePeso</key>
		<string>-</string>
		<key>priceYen</key>
		<string>709</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>キッチン用洗剤</string>
		<key>pricePeso</key>
		<string>20</string>
		<key>priceYen</key>
		<string>270</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Cookware-5</string>
		<key>item</key>
		<string>たわし</string>
		<key>pricePeso</key>
		<string>20</string>
		<key>priceYen</key>
		<string>118</string>
	</dict>
</array>
</plist>
