<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Sportsbsk</string>
		<key>item</key>
		<string>バスケットボール モルテン GL7X 7号球</string>
		<key>pricePeso</key>
		<string>5495</string>
		<key>priceYen</key>
		<string>8450</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sportsbase</string>
		<key>item</key>
		<string>野球ボール 公式</string>
		<key>pricePeso</key>
		<string>695</string>
		<key>priceYen</key>
		<string>1195</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>メデシィンボール 4.53kg</string>
		<key>pricePeso</key>
		<string>2799</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sportsshooes</string>
		<key>item</key>
		<string>ナイキ エアズーム レディース </string>
		<key>pricePeso</key>
		<string>5795</string>
		<key>priceYen</key>
		<string>6589</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sportsshooes</string>
		<key>item</key>
		<string>ナイキ エアズーム メンズ </string>
		<key>pricePeso</key>
		<string>4795</string>
		<key>priceYen</key>
		<string>7340</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsWear</string>
		<key>item</key>
		<string>アンダーアーマー Tシャツ 赤 （ショップ）</string>
		<key>pricePeso</key>
		<string>1395</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsTop</string>
		<key>item</key>
		<string>サッカーボール MIKASA</string>
		<key>pricePeso</key>
		<string>440</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsBox</string>
		<key>item</key>
		<string>ボクシング グローブ </string>
		<key>pricePeso</key>
		<string>1950</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sports-5</string>
		<key>item</key>
		<string>ダンロップ テニスラケット BZAZE 100</string>
		<key>pricePeso</key>
		<string>3100</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage</string>
		<key>item</key>
		<string>ラケットタオルグリップ </string>
		<key>pricePeso</key>
		<string>105</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sports-4</string>
		<key>item</key>
		<string>ダンロップ テニスボール 4個 </string>
		<key>pricePeso</key>
		<string>385</string>
		<key>priceYen</key>
		<string>600</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsYoga</string>
		<key>item</key>
		<string>ヨガマット （スポーツ店）</string>
		<key>pricePeso</key>
		<string>400</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsYoga</string>
		<key>item</key>
		<string>アディダス ヨガマット </string>
		<key>pricePeso</key>
		<string>1150</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsSkipRope</string>
		<key>item</key>
		<string>スキップロープ 縄跳び （スポーツショップ）</string>
		<key>pricePeso</key>
		<string>200</string>
		<key>priceYen</key>
		<string>648</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>フラフープ</string>
		<key>pricePeso</key>
		<string>920</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SportsDANBERU</string>
		<key>item</key>
		<string>ダンベル 2kg</string>
		<key>pricePeso</key>
		<string>250</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sportsbsk</string>
		<key>item</key>
		<string>バスケットボール 最安値</string>
		<key>pricePeso</key>
		<string>195</string>
		<key>priceYen</key>
		<string>680</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Sportsshuttle</string>
		<key>item</key>
		<string>YONEX シャトル mavis</string>
		<key>pricePeso</key>
		<string>890</string>
		<key>priceYen</key>
		<string>2098</string>
	</dict>
</array>
</plist>
