<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Repair</string>
		<key>item</key>
		<string>パンク修理</string>
		<key>pricePeso</key>
		<string>50</string>
		<key>priceYen</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Repair-1</string>
		<key>item</key>
		<string>スマートフォン スクリーン交換 非正規店</string>
		<key>pricePeso</key>
		<string>5000</string>
		<key>priceYen</key>
		<string>4500</string>
	</dict>
</array>
</plist>
