<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>MarukameTop</string>
		<key>item</key>
		<string>釜揚げうどん 並</string>
		<key>pricePeso</key>
		<string>95</string>
		<key>priceYen</key>
		<string>290</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon2</string>
		<key>item</key>
		<string>釜揚げうどん 大</string>
		<key>pricePeso</key>
		<string>145</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon2</string>
		<key>item</key>
		<string>釜揚げうどん 得</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>490</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon2</string>
		<key>item</key>
		<string>釜揚げ家族うどん</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>1260</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>ぶっかけうどん 並</string>
		<key>pricePeso</key>
		<string>95</string>
		<key>priceYen</key>
		<string>290</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>ぶっかけうどん 大</string>
		<key>pricePeso</key>
		<string>145</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>ざるうどん 並</string>
		<key>pricePeso</key>
		<string>95</string>
		<key>priceYen</key>
		<string>290</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameCurryUdon</string>
		<key>item</key>
		<string>カレーうどん 並</string>
		<key>pricePeso</key>
		<string>170</string>
		<key>priceYen</key>
		<string>410</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameCurryUdon</string>
		<key>item</key>
		<string>カレーうどん 大</string>
		<key>pricePeso</key>
		<string>220</string>
		<key>priceYen</key>
		<string>510</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameVegetable</string>
		<key>item</key>
		<string>野菜かき揚げ</string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>かしわ天</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>140</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameShrinp</string>
		<key>item</key>
		<string>えび天</string>
		<key>pricePeso</key>
		<string>60</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>キス天</string>
		<key>pricePeso</key>
		<string>60</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>かぼちゃ天</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>なす天</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>110</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>さつまいも天</string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>半熟玉子天</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>120</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameInariSushi</string>
		<key>item</key>
		<string>いなり</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameRiceBall</string>
		<key>item</key>
		<string>おにぎり </string>
		<key>pricePeso</key>
		<string>40</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameDaikon</string>
		<key>item</key>
		<string>トッピング 大根おろし</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTororo</string>
		<key>item</key>
		<string>トッピング とろろ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>70</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameMentaiko</string>
		<key>item</key>
		<string>明太子</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTem</string>
		<key>item</key>
		<string>きつねあげ</string>
		<key>pricePeso</key>
		<string>--</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameCurry</string>
		<key>item</key>
		<string>カレーライス</string>
		<key>pricePeso</key>
		<string>160</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameGreenOnion</string>
		<key>item</key>
		<string>ねぎ</string>
		<key>pricePeso</key>
		<string>0</string>
		<key>priceYen</key>
		<string>0</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameTenpuraSkim</string>
		<key>item</key>
		<string>天かす</string>
		<key>pricePeso</key>
		<string>0</string>
		<key>priceYen</key>
		<string>0</string>
	</dict>
</array>
</plist>
