<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>SuperFoodCarot</string>
		<key>item</key>
		<string>にんじん 1本 </string>
		<key>pricePeso</key>
		<string>22</string>
		<key>priceYen</key>
		<string>57</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodOnion</string>
		<key>item</key>
		<string>たまねぎ 1個</string>
		<key>pricePeso</key>
		<string>21</string>
		<key>priceYen</key>
		<string>47</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodPotato</string>
		<key>item</key>
		<string>じゃがいも 1kg</string>
		<key>pricePeso</key>
		<string>84</string>
		<key>priceYen</key>
		<string>400</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameGreenOnion</string>
		<key>item</key>
		<string>長ねぎ 1本</string>
		<key>pricePeso</key>
		<string>34</string>
		<key>priceYen</key>
		<string>80</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodBuro</string>
		<key>item</key>
		<string>ブロッコリー </string>
		<key>pricePeso</key>
		<string>44</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodEggplant</string>
		<key>item</key>
		<string>なす 1本</string>
		<key>pricePeso</key>
		<string>30</string>
		<key>priceYen</key>
		<string>50</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodHakusai</string>
		<key>item</key>
		<string>白菜 1玉</string>
		<key>pricePeso</key>
		<string>34</string>
		<key>priceYen</key>
		<string>300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodchabege</string>
		<key>item</key>
		<string>キャベツ 1個</string>
		<key>pricePeso</key>
		<string>29</string>
		<key>priceYen</key>
		<string>87</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodretasu</string>
		<key>item</key>
		<string>レタス 1個</string>
		<key>pricePeso</key>
		<string>49</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodPumpkin</string>
		<key>item</key>
		<string>かぼちゃ 360g</string>
		<key>pricePeso</key>
		<string>16</string>
		<key>priceYen</key>
		<string>133</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodBanana</string>
		<key>item</key>
		<string>バナナ 1カット 5本 </string>
		<key>pricePeso</key>
		<string>20</string>
		<key>priceYen</key>
		<string>94</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFood</string>
		<key>item</key>
		<string>りんご 1個</string>
		<key>pricePeso</key>
		<string>38</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodMango</string>
		<key>item</key>
		<string>マンゴー 1 個</string>
		<key>pricePeso</key>
		<string>55</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodGrapes</string>
		<key>item</key>
		<string>巨峰 1パック</string>
		<key>pricePeso</key>
		<string>137</string>
		<key>priceYen</key>
		<string>400</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodSweetPotato</string>
		<key>item</key>
		<string>さつまいも芋 フィリピン1kg : 日本 1本</string>
		<key>pricePeso</key>
		<string>122</string>
		<key>priceYen</key>
		<string>97</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodKiui</string>
		<key>item</key>
		<string>キーウィフルーツ 1個</string>
		<key>pricePeso</key>
		<string>42</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodLemon</string>
		<key>item</key>
		<string>レモン アメリカ</string>
		<key>pricePeso</key>
		<string>35</string>
		<key>priceYen</key>
		<string>157</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodSalt</string>
		<key>item</key>
		<string>塩 100g</string>
		<key>pricePeso</key>
		<string>17</string>
		<key>priceYen</key>
		<string>85</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodMayo-1</string>
		<key>item</key>
		<string>キューピー マヨネーズ</string>
		<key>pricePeso</key>
		<string>213</string>
		<key>priceYen</key>
		<string>298</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodYakisoba</string>
		<key>item</key>
		<string>UFO 焼きそば</string>
		<key>pricePeso</key>
		<string>135</string>
		<key>priceYen</key>
		<string>128</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodSuger</string>
		<key>item</key>
		<string>西友 上白糖  : フィリピン上白糖 1kg</string>
		<key>pricePeso</key>
		<string>27</string>
		<key>priceYen</key>
		<string>158</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodYakisoba</string>
		<key>item</key>
		<string>日清 カップ麺 　シーフード</string>
		<key>pricePeso</key>
		<string>134</string>
		<key>priceYen</key>
		<string>138</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodYakisoba</string>
		<key>item</key>
		<string>日清 どん兵衛 </string>
		<key>pricePeso</key>
		<string>134</string>
		<key>priceYen</key>
		<string>118</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodBork</string>
		<key>item</key>
		<string>豚肉 1kg</string>
		<key>pricePeso</key>
		<string>220</string>
		<key>priceYen</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodBeef</string>
		<key>item</key>
		<string>牛肉 1kg</string>
		<key>pricePeso</key>
		<string>320</string>
		<key>priceYen</key>
		<string>2000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodEgg</string>
		<key>item</key>
		<string>JA全農 卵 L 10個 : フィリピン卵12個</string>
		<key>pricePeso</key>
		<string>78</string>
		<key>priceYen</key>
		<string>258</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodWatermeron</string>
		<key>item</key>
		<string>スイカ 1kg</string>
		<key>pricePeso</key>
		<string>46</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodHurikake</string>
		<key>item</key>
		<string>ふりかけ 混ぜ込みわかめ</string>
		<key>pricePeso</key>
		<string>118</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodHurikake</string>
		<key>item</key>
		<string>ふりかけ 混ぜ込みたらこ</string>
		<key>pricePeso</key>
		<string>118</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodMilk</string>
		<key>item</key>
		<string>牛乳 1L</string>
		<key>pricePeso</key>
		<string>80</string>
		<key>priceYen</key>
		<string>250</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodDurian</string>
		<key>item</key>
		<string>ドリアン 1kg</string>
		<key>pricePeso</key>
		<string>115</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodSoy</string>
		<key>item</key>
		<string>キッコーマン 醤油</string>
		<key>pricePeso</key>
		<string>335</string>
		<key>priceYen</key>
		<string>368</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodVinegar</string>
		<key>item</key>
		<string>ミツカン 穀物酢</string>
		<key>pricePeso</key>
		<string>155</string>
		<key>priceYen</key>
		<string>301</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodVinegar</string>
		<key>item</key>
		<string>本みりん</string>
		<key>pricePeso</key>
		<string>296</string>
		<key>priceYen</key>
		<string>357</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodChoco</string>
		<key>item</key>
		<string>リンツ チョコ 85%</string>
		<key>pricePeso</key>
		<string>200</string>
		<key>priceYen</key>
		<string>540</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>SuperFoodpinapple</string>
		<key>item</key>
		<string>パイナップル 1本</string>
		<key>pricePeso</key>
		<string>115</string>
		<key>priceYen</key>
		<string>247</string>
	</dict>
</array>
</plist>
