<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Book-3</string>
		<key>item</key>
		<string>グルメ雑誌</string>
		<key>pricePeso</key>
		<string>120</string>
		<key>priceYen</key>
		<string>900</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book-2</string>
		<key>item</key>
		<string>乗り物雑誌 （100ページ程）</string>
		<key>pricePeso</key>
		<string>549</string>
		<key>priceYen</key>
		<string>1240</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book-4</string>
		<key>item</key>
		<string>Time</string>
		<key>pricePeso</key>
		<string>170</string>
		<key>priceYen</key>
		<string>980</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book-4</string>
		<key>item</key>
		<string>FORTUNE</string>
		<key>pricePeso</key>
		<string>250</string>
		<key>priceYen</key>
		<string>1380</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book-6</string>
		<key>item</key>
		<string>マップ 1枚</string>
		<key>pricePeso</key>
		<string>10</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage-1</string>
		<key>item</key>
		<string>コミック フェアリーテール</string>
		<key>pricePeso</key>
		<string>195</string>
		<key>priceYen</key>
		<string>453</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>NoImage</string>
		<key>item</key>
		<string>数独 問題集</string>
		<key>pricePeso</key>
		<string>95</string>
		<key>priceYen</key>
		<string>600</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>BookTop</string>
		<key>item</key>
		<string>辞書</string>
		<key>pricePeso</key>
		<string>335</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book</string>
		<key>item</key>
		<string>自国ガイドブック</string>
		<key>pricePeso</key>
		<string>490</string>
		<key>priceYen</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>BookTop</string>
		<key>item</key>
		<string>日本語テキストブック</string>
		<key>pricePeso</key>
		<string>870</string>
		<key>priceYen</key>
		<string>--</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Book-7hobit</string>
		<key>item</key>
		<string>7つの習慣</string>
		<key>pricePeso</key>
		<string>590</string>
		<key>priceYen</key>
		<string>2400</string>
	</dict>
</array>
</plist>
